<div class="container-fluid home-page"style="background-image: url('./img/Kitchenware.jpg') ;">
    <div class="welcome">
        <h1>Welcome to our restaurant</h1>
        <a class="btn btn-primary mt-3" id="Register" href="/register">Register</a>
        {{#if session }}
            <p class="thank">
                Thank you for the information <3
            </p>
        {{/if}}
    </div>
</div>